/* About Page Styling */
.about-container {
    padding: 50px;
    background: #24243e;
    color: white;
    border-radius: 15px;
    max-width: 1000px;
    margin: 50px auto;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
    transition: transform .5s ease-in-out;
  }

.about-container:hover {
  transform: scale(1.025);
}
  
  .about-header {
    font-size: 3rem;
    font-weight: 700;
  }
  
  .about-text {
    font-size: 1.5rem;
    opacity: 0.8;
    margin-top: 20px;
    line-height: 1.8;
  }
  